*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #ffffff;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.section1 {
  display: block;
  width: 100%;
  height: 1161px;
  background: url(../img/section1_bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.header-row {
  margin: 0;
  padding-top: 12px;
}

span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #37447e;
}

.span1-section1,
.span2-section1 {
  margin-right: 60px;
}

.nav {
  justify-content: flex-start;
  align-items: center;
  background: none;
}

.nav a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505f98;
}

.logo-span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
}

.button-header {
  vertical-align: middle;
  margin: auto;
}

.button.blue {
  max-width: 160px;
  width: 100%;
  background: #111b47;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.white {
  max-width: 160px;
  width: 100%;
  border: 2px solid #091133;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #091133;
  margin-left: 30.15px;
}

.data-section1 {
  display: block;
  max-width: 539px;
  width: 100%;
  align-items: center;
  padding-top: 253px;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  margin-bottom: 20px;
}

.data-section1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  margin-bottom: 69px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

.titles {
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  text-align: start;
  justify-content: left;
}

.title img {
  margin-bottom: 14px;
}

.title h4 {
  margin-bottom: 6px;
}

.section2 {
  padding-top: 160px;
}

.left-part-section2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}

.title1 {
  margin-right: 30px;
}

.data-block {
  max-width: 445px;
  width: 100%;
}

.section4 {
  background-image: url(../img/clip-path.png);
  background-position: center;
}

.data-section4 {
  display: block;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 237.61px;
}

.section3 span {
  display: block;
}

.p-section4 {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #6f7cb2;
}

.price {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 1px;
  color: #222f65;
  margin-bottom: 0;
}

.span2 {
  display: block;
  margin: 0;
}

.span3 {
  display: block;
  margin: 3.75rem 0 0.81rem 0;
}

.button-section3 {
  margin-bottom: 172.14px;
}

footer {
  background-color: #e7ecff;
  padding-bottom: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 61px;
}

.row-footer {
  margin: 0;
}

.row-footer::after {
  display: flex;
  max-width: 1459px;
  width: 100%;
  content: "";
  height: 1px;
  background: #cdd1d4;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.button-footer {
  display: flex;
  max-width: 109px;
  width: 100%;
  background: #111b47;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 0;
}

.social {
  display: flex;
}

.social img {
  max-width: 16px;
  width: 100%;
}

.footer-span a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #929ecc;
}

.copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939ea4;
}

@media screen and (max-width: 991px) {
  .span1-section1,
  .span2-section1 {
    margin-right: 30px;
  }
  .nav {
    display: block;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
  }
  .data-section1 {
    justify-content: center;
    text-align: left;
  }
  .titles img {
    margin: 0 auto;
  }
  .data-block {
    margin: 0 auto;
  }
  .button-section3 {
    margin-bottom: 5rem;
  }
  .copyright {
    text-align: center;
  }
  .social {
    max-width: 50%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .social img {
    margin: auto;
  }
}
@media screen and (max-width: 575px) {
  .header-row {
    margin: 0 auto;
    padding-top: 12px;
    justify-content: center;
    text-align: center;
  }
  .nav {
    display: block;
    margin: 0 auto;
  }
  .section1 {
    display: block;
    width: 100%;
    height: 1161px;
    background-image: url(../img/section1_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
  }
  .data-section1 {
    justify-content: center;
    text-align: center;
  }
  .titles img {
    margin: 0 auto;
  }
  .data-block {
    margin: 0 auto;
  }
  .button-section3 {
    margin-bottom: 5rem;
  }
  .copyright {
    display: block;
  }
  footer {
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }
  .social {
    max-width: 50%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .social img {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */