*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #FFFFFF;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  /* Colour/Main/Blue/600 */
  color: #37447E;
}

.nav {
  justify-content: flex-start;
  align-items: center;
}

.nav span {
  margin-right: auto;
}

.nav a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505f98;
}

.logo {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
}

.button-header {
  align-items: center;
  text-align: center;
}

.bg {
  width: 100%;
  height: 1161px;
  background: url(../img/section1_bg.png);
  background-repeat: no-repeat;
  background-position: 50px -220px;
  background-size: cover;
  margin-top: 10px;
}

.button.blue {
  max-width: 160px;
  width: 100%;
  background: #111b47;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.white {
  max-width: 160px;
  width: 100%;
  border: 2px solid #091133;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #091133;
  margin-left: 30.15px;
}

.data-section1 {
  display: block;
  max-width: 539px;
  width: 100%;
  align-items: center;
  padding-top: 253px;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  margin-bottom: 20px;
}

.data-section1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  margin-bottom: 69px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

.titles {
  display: flex;
  margin-top: 80px;
}

.title img {
  margin-bottom: 14px;
}

.title h4 {
  margin-bottom: 6px;
}

.section2 {
  padding-top: 160px;
}

.left-part-section2 {
  max-width: 540px;
  width: 100%;
}

.title1 {
  margin-right: 30px;
}

.row {
  margin-bottom: calc(5 * var(--bs-gutter-x));
}

.data-block {
  max-width: 445px;
  width: 100%;
}

.section3 {
  background-color: #E7ECFF;
}

.data-section3 {
  display: block;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15% 26%;
}

.section3 span {
  display: block;
}

.p-section3 {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #6F7CB2;
}

.price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 1px;
  color: #222F65;
  margin-bottom: 0;
}

.span2 {
  margin: 0;
}

.span3 {
  margin: 3.75rem 0 0.81rem 0;
}

footer {
  background-color: #E7ECFF;
}

.row-footer::after {
  display: flex;
  max-width: 1459px;
  width: 100%;
  content: "";
  height: 1px;
  margin: 0 auto;
  margin-top: 40px;
  background: #CDD1D4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.social {
  display: flex;
}

.footer-nav span {
  margin-right: 60px;
}

.social img {
  max-width: 16px;
  width: 100%;
  margin-left: 30px;
}/*# sourceMappingURL=style.css.map */