.section1 {
    background-color: #000000;
}
// .logo img::before {
//     width: 36px;
//     height: 36px;
//     content: "";
//     background-color: #FFFFFF;
//     border: #FFFFFF;
//     border-radius: 50px;
// }
.logo span {
    font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
color: #FFFFFF;
}