footer {

}
.social__footer {
    display: flex;
    height: 24px;
}
.social__footer img {
    margin-left: 2.75rem;
}
@media screen and (max-width: 767px) {
.logo__footer {
    text-align: center;
}

.social__footer img {
   margin: 0 20px;
}
.social__footer {
    justify-content: center;
}
}
