
body {
  background-color: rgb(45, 45, 45);
}

div {
  display: block;
  width: 800px;
  padding-top: 60px;
}
table {
  width: 100%;
  margin: 35px;
  color: aliceblue;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);

}

tr, td:not(:last-of-type){
  border-bottom: 1px solid #fff;

  }
.triangle {
  margin-left: 5px;
  width: 6px;
  color: aliceblue;
  transform: rotate(90deg);
}
.imgfile {
  width: 13px;
  margin-right: 5px;
  margin-left: 3px;
}
.name {
  width: 50%;
  padding: 12px;
  vertical-align: middle;
  
}
tr {
  height: 50px;
}


/*
tr:first-child td:first-child{
  border-top-left-radius: 10px;
}
tr:last-child td:first-child{
  border-bottom-left-radius: 10px;
}
tr:first-child td:last-child{
  border-top-right-radius: 10px;
}
tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}
*/
.search {
  background: rgb(171, 170, 170);

}
form {
  margin-right: 20px;
}
.input {
  padding: 5px 0;
  border: none;
  height: 30px;
color: #fff;
  }
  
i {
  position: absolute;
  top: auto;

}

.dots {
align-items: flex-end;
float: right;
padding-top: 10px;
padding-right: 20px;


}
form {
  float: right;
  background: rgb(94, 91, 91);

}

.date, .dots {
  width: 25%;
}
