footer {
  display: block;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  padding: 32px 200px 28px 165px;
  margin: 0 auto;
}
.nav-footer {
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;

  color: #1b2437;
}

.text-description {
  width: 255px;
  height: 180px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5c5c5c;
}
ul {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #8e8e93;
  padding: 0;
}
.tittle-footer {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: left;
}
.social-footer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icons-social {
  display: flex;
  max-width: 124px;
  width: 100%;
  justify-content: space-between;
}
