header {
  display: flex;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 16px;
  background: #ffffff;
}

.logo {
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #1b2437;
}

.social {
  display: flex;
  max-width: 124px;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}
.user-menu {
  display: flex;
  max-width: 137.92px;
  width: 100%;
  justify-content: space-between;
  margin-top: 9px;
}
