.section5 {
  max-width: 1110px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-left: 165px;
  justify-content: center;
  align-items: center;
}

.h2-section5 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 67px;
  color: #1b2437;
}

.map {
  display: flex;
  max-width: 1110px;
  width: 100%;
  background: white;
  padding: 12px;
}
.contacts-map {
  display: flex;
  max-width: 1110px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 27px 60px 25px 60px;
}
.phone-map {
}
.location-map {
}
.img-phone {
  margin-left: 50px;
}
.img-location {
  margin-left: 15px;
}
.img-email {
}
.phone {
  display: block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
.address {
  display: block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.email {
  display: block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-top: 20px;
}
