.section5 {
    display: block;
    margin: 0 auto;
}

.h2-section5 {
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 67px;
/* identical to box height, or 140% */


/* Black */

color: #1B2437;
}