.section3 {
  display: block;
  max-width: 1110px;
  width: 100%;

  background: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
}

.slider-custom {
  display: grid;

  grid-template-columns: auto auto auto auto;
}
.slider-child {
  display: grid;
  width: 1110px;
  height: 313px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;

  vertical-align: middle;
}

.h3-divs {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;

  color: #000000;
}

.img-slider-child {
  display: flex;
  width: 255px;
  height: 207px;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
}
.h4-slider-child {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  justify-content: center;
  color: #000000;
  align-items: center;
  text-align: center;
}
