
.section3{
    display: block;
    max-width: 1110px;
    width: 100%;
    height: 313px;

    background: #ffffff;
    border-radius: 16px;
    background: #9c69e2;
    margin: 0 auto;


  }

  .slider-custom {
    
  }
.slider-child {
    display: flex;
 
   
}





  /* .slider-child {
    display: flex;
    max-width: 1110px;
    width: 100%;
}

.slider-custom {
}
.picture1-slider1{
    display: block;
    width: 255px;
    height: 207px;
padding: 40px 50px 40px 49px;
margin: 0;
}
 */
 .h3-divs {
  font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */


color: #000000;
 }