body {
  background: #ffffff;
}
* {
  box-sizing: border-box;
}

.topsection {
  background-color: #ed4c5c;
  display: flex;
  width: 100%;
  height: 500px;
}

.righttop {
  padding: 122px 81px 24px 165px;
}
.h1top {
  width: 445px;
  height: 107px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;

  color: #ffffff;
}

main p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  width: 445px;
  height: 64px;
  text-align: justify;

  color: #ffffff;
}

.downlink {
  display: flex;
}
.playmarket {
  content: url(../img/ion-logo-google-playstore.svg);
}
.appstore {
  content: url(../img/ion-logo-apple-appstore.svg);
  margin-left: 28px;
}
.windows {
  content: url(../img/simple-icons_windows.svg);
  margin-left: 25px;
}

.lefttop {
  padding-top: 94px;
}

.slider {
  margin-left: 81px;
}

.section {
  background: #ffffff;
  display: flex;
  width: 100%;
  left: 0px;
  top: 500px;
  padding: 117px 165px 78px 176px;
  padding-bottom: 0;
}

h1 {
  width: 445px;
  height: 107px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.pclass {
  width: 434px;
  height: 64px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  text-align: justify;

  color: #000000;
}

.form {
  display: flex;
  margin-left: 114px;
}
.flname {
  display: flex;
  margin: 0;
  padding: 0;
}
.lname {
  margin-left: 30px;
}
.fname,
.lname {
  align-items: flex-start;
  margin-top: 24px;
  box-sizing: border-box;
  width: 255px;
  height: 60px;

  border: 1px solid #333333;
  border-radius: 6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 31px;
  color: rgba(19, 39, 67, 0.5);
}
.phone,
.sservice {
  margin-top: 24px;

  box-sizing: border-box;

  width: 540px;
  height: 60px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 31px;
  color: rgba(19, 39, 67, 0.5);
  border: 1px solid #333333;
  border-radius: 6px;
}
.aservice {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;

  color: #000000;
}
.actionform {
  margin-top: 27px;
  box-sizing: border-box;

  width: 160px;
  height: 50px;
  left: 735px;
  top: 872px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
}

footer {
  margin-top: 123px;
  padding: 85px 196px 86px 166px;
  display: flex;
  height: 435px;
  width: 100%;
  left: 0px;
  top: 1045px;
}

.address {
  display: block;

  width: 25%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}
.copyright {
  margin-top: 141px;
  max-width: 155px;
  width: 100%;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}
h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
/*ul { list-style: none; }*/

.service {
  display: block;
  margin-left: 30px;

  max-width: 254px;
  width: 25%;
  height: 114px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000000;
}

.getintouch {
  display: block;
  margin-left: 30px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #101010;
}

.support {
  display: block;
  margin-left: 172px;
}

.tel {
  margin-top: 11px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #121212;
  text-decoration: none;
}
.ptel {
  margin-bottom: 0;
}
.mail {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #101010;
}

.social {
  display: flex;
  padding-top: 21.17px;
}

.facebook {
  content: url(../img/facebook.svg);
}
.linked {
  content: url(../img/linked.svg);
  margin-left: 16.67px;
}
.twitter {
  content: url(../img/twitter.svg);
  margin-left: 13.75px;
}

.payments {
  max-width: 216px;
  width: 100%;
}
footer {
  background-color: #fafafa;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
