footer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  background: #00adee;
  justify-content: space-between;
  align-items: center;
  padding: 48px 162px 47px 163px;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
}

.social-footer {
  display: flex;
}
.download {
  display: block;
  margin-right: 37px;
  width: 100%;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  justify-content: space-between;
}
.support {
  display: block;
  margin-right: 36px;
  width: 100%;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  justify-content: space-between;
}
.developers {
  display: block;
  margin-right: 37px;
  width: 100%;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  justify-content: space-between;
}
.privacy {
  width: 100%;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  justify-content: space-between;
}
.menu-footer a {
  display: block;
  width: 100%;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  justify-content: space-between;
}

.img-twitter-footer {
  margin-right: 17px;
}
.img-facebook-footer {
  margin-right: 17px;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0 auto;
  }
  footer {
    display: flex;
    max-width: 767px;
    width: 100%;
    background: #00adee;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
  }
  .logo-footer {
    display: block;
    margin-bottom: 11px;
  }
  .menu-footer {
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
  }

  .social-footer {
    display: flex;
  }
  .download {
    display: flex;
    margin-right: 19px;
  }
  .support {
    display: flex;
    margin-right: 19px;
  }
  .developers {
    display: flex;
    margin-right: 19px;
  }
  .privacy {
    display: flex;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  body {
    margin: 0 auto;
  }
  footer {
    display: grid;
    max-width: 360px;
    width: 100%;
    background: #00adee;
    justify-content: space-between;
    align-items: center;
    padding: 41px 20px 45px 19px;
    margin: 0 auto;
  }
  .logo-footer {
    display: block;
    margin-bottom: 11px;
  }
  .menu-footer {
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
    order: 3;
  }

  .social-footer {
    display: flex;
    order: 2;
    margin-right: 19px;
    margin-bottom: 34px;
  }
  .download {
    display: flex;
    margin-right: 19px;
  }
  .support {
    display: flex;
    margin-right: 19px;
  }
  .developers {
    display: flex;
    margin-right: 19px;
  }
  .privacy {
    display: flex;
    margin: auto;
  }
}
