.section3 {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
}
.data-section3 {
  display: block;
  position: relative;

  padding: 217px 0 171px 162px;
  background: none;
  z-index: 4;
}
.get-started {
  display: block;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
  margin-bottom: 27px;
}
.h2-section3 {
  display: block;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin-bottom: 27px;
}
.p1-section3 {
  max-width: 480px;
  font-family: "Lato 400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
  margin-bottom: 27px;
}
.p2-section3 {
  max-width: 480px;
  font-family: "Lato 400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
  margin-bottom: 54px;
}
.lern-more-section3 {
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
}

.circle1 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.phone {
  display: block;
  position: absolute;
  top: 80px;
  left: 840px;
}
.phone-icon {
  display: block;
  position: absolute;
  top: 449px;
  left: 1100px;
}
.ring-icon {
  display: block;
  position: absolute;
  top: 122px;
  left: 856px;
}
.dot-icon {
  display: block;
  position: absolute;
  top: 512px;
  left: 770px;
}
.chart-icon {
  display: none;
}

@media screen and (max-width: 550px) {
  body {
    margin: 0 auto;
  }
  .section3 {
    max-width: 360px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 62px 20px 0 20px;
    height: 100%;
    width: 100%;
  }
  .data-section3 {
    display: block;
    background: none;
    padding: 0;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .get-started {
    display: block;
    font-family: "Lato 700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00adee;
    margin-bottom: 27px;
  }
  .h2-section3 {
    display: block;
    font-family: "Lato 700";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-bottom: 27px;
  }
  .p1-section3 {
    max-width: 480px;
    font-family: "Lato 400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-bottom: 27px;
  }
  .p2-section3 {
    max-width: 480px;
    font-family: "Lato 400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-bottom: 54px;
  }
  .lern-more-section3 {
    font-family: "Lato 700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00adee;
  }
  .right-side-section3 {
    display: block;
    width: 1137px;
    height: 565px;
    position: relative;
    order: 2;
    margin-left: -657px;
  }

  .phone {
    display: block;
    max-width: 202.92px;
    position: absolute;
    top: 95px;
    left: 705px;
  }

  .ring-icon {
    display: block;
    position: absolute;
    max-width: 71.85px;
    top: 120px;
    left: 710px;
  }
  .chart-icon {
    display: block;
    position: absolute;
    max-width: 71.85px;
    top: 305px;
    left: 857px;
  }

  .phone-icon,
  .dot-icon {
    display: none;
   
  }

}
