.section2 {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}

.left-side-section2 {
  max-width: 805px;
  width: 100%;
  height: 592px;

  display: flex;
  position: relative;
}
.bd-section2 {
  display: flex;
  max-width: 805px;
}
.bg-section2::after {
  background: transparent;
  background: linear-gradient(
      270deg,
      #ffffff 5.16%,
      rgba(255, 255, 255, 0) 67.14%
    ),
    rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.match-notificstion {
  display: block;
  position: absolute;
  box-sizing: border-box;
  max-width: 360px;
  width: 100%;
  height: 218.06px;
  left: 163px;
  top: 109px;
  background: #ffffff;
  box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  justify-content: space-between;
  z-index: 2;
}
.text-info {
  display: block;

  margin-right: 62.97px;
  margin-top: 26.27px;
  margin-left: 15.74px;
}
.span1-match {
  display: block;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16.7833px;
  line-height: 22px;
  color: #4f4f4f;
  margin-bottom: 12.58px;
}
.span2-match {
  display: block;
  max-width: 76.62px;
  font-family: "Lato 500";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 13.63px;
}
.span3-match {
  display: block;
  font-family: "Lato 400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.logos {
  display: flex;
  margin-bottom: 38.79px;
}
.arsenal-logo {
  width: 71px;
  height: 83.87px;
  margin-top: 46.13px;
}
.chelsea-logo {
  width: 83.97px;
  height: 83.87px;
  margin-left: -15px;
  margin-top: 46.13px;
}
.switcher {
  display: block;
  max-width: 360px;
  background: #eeeeee;
  border-radius: 0px 0px 4px 4px;
  padding-top: 15.74px;
  padding-bottom: 10.48px;
}
.span-switcher {
  display: flex;
  font-family: "Lato 400";
  font-style: normal;
  font-weight: 400;
  font-size: 18.8812px;
  line-height: 25px;
  color: #4f4f4f;
  margin-left: 15.74px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 27.29px;
  height: 12.58px;
  background: #979797;
  border-radius: 104.896px;
  display: block;
  position: relative;
  margin-left: 33.59px;
  margin-top: 8px;
}
label:after {
  content: "";
  position: absolute;
  width: 20.99px;
  height: 20.97px;
  left: 0px;
  top: -4px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
}

input:checked + label {
  background: #0d63dc;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-70%);
}

.video {
  display: block;
  position: absolute;
  max-width: 360px;
  width: 100%;
  left: 269px;
  top: 296px;
  z-index: 1;
}

.right-side-section2 {
  display: block;
  max-width: 635px;
  width: 100%;
  height: 592px;
   margin-left: -10px;
  padding-top: 133px;
  z-index: 3;
  margin-bottom: 22px;
  background: #FFFFFF;

}
.what-it-does {
  max-width: 582px;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
  margin-top: 27px;
}
.h2-section2 {
  display: block;
  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin-top: 27px;
  margin-bottom: 22px;
}
.p1-section2 {
  display: block;
  max-width: 407px;
  font-family: "Lato 400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
  margin-bottom: 22px;
}
.p2-section2 {
  display: block;
  max-width: 407px;
  font-family: "Lato 400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
  margin-bottom: 22px;
}

.learn-more {
  max-width: 582px;
  width: 100%;

  font-family: "Lato 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #00adee;
  margin-top: 22px;
}

@media screen and (max-width: 360px) {
  body {
    margin: 0 auto;
  }
  .section2 {
    display: grid;
    max-width: 360px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  .right-side-section2 {
    display: block;
    max-width: 360px;
    width: 100%;
    height: fit-content;
    order: 1;
    margin-left: 0;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .what-it-does {
    display: block;
    font-family: "Lato 700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #00adee;
  }
  .h2-section2 {
    display: block;
    font-family: "Lato 700";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #333333;
  }
  .p1-section2 {
    display: block;
    font-family: "Lato 400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #4f4f4f;
  }
  .p2-section2 {
    display: block;
    font-family: "Lato 400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #4f4f4f;
  }

  .learn-more {
    display: block;
    font-family: "Lato 700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #00adee;
  }

  .left-side-section2 {
    display: block;
    max-width: 388px;
    height: 360px;
    width: 100%;
    order: 2;
    

  }
  .img-bg-section2 {
    display: flex;
  

  }
  .bd-section2 {
    display: inline-block;
    height: 100%;
    width: 100%;
    
  }
  .bg-section2::after {
    background: linear-gradient(
        270deg,
        #ffffff 5.16%,
        rgba(255, 255, 255, 0) 67.14%
      ),
      rgba(255, 255, 255, 0.5);
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .match-notificstion {
    display: block;
    position: absolute;
    box-sizing: border-box;
    max-width: 247.21px;
    width: 100%;
    height: 149.58px;
    left: 20px;
    top: 70px;
    background: #ffffff;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    justify-content: space-between;
    z-index: 2;
    padding: 0;
    margin: 0;
  }
  .text-info {
    display: block;
text-align: left;
  }
  .span1-match {
    display: block;
    font-family: "Lato 700";
    font-style: normal;
    font-weight: 700;
    font-size: 11.5188px;
    line-height: 15px;
    color: #4f4f4f;
    margin-bottom: px;
  }
  .span2-match {
    display: block;
    max-width: 76.62px;
    font-family: "Lato 500";
    font-style: normal;
    font-weight: 500;
    font-size: 12.3539px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 9.35px;
  }
  .span3-match {
    display: block;
    font-family: "Lato 400";
    font-style: normal;
    font-weight: 400;
    font-size: 10.9812px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 11.51;
  }
  .logos {
    display: flex;
    margin-bottom: 26.61px;
    margin: 0;
    padding: 0;
  }
  .arsenal-logo {
    width: 48.76px;
    height: 57.53px;
  }
  .chelsea-logo {
    width: 57.66px;
    height: 57.53px;
    margin-left: -10px;
  }
  .switcher {
    display: block;
    max-width: 247.21px;
    width: 100%;
    height: 33.8px;
    background: #eeeeee;
    border-radius: 0px 0px 4px 4px;
    padding: 0;
    margin: 0;
    margin-top: 11.51px;
  }
  .span-switcher {
    display:inline-flex;
    font-family: 'Lato 400';
font-style: normal;
font-weight: 400;
font-size: 12.9587px;
line-height: 17px;
color: #4F4F4F;
margin: 0;
padding: 0;
    margin-left: 10.81px;
    text-align: left;
    margin-top: 9.35px;
  
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    width: 27.29px;
    height: 12.58px;
    background: #979797;
    border-radius: 104.896px;
    display: block;
    position: relative;
    margin-right: 12.23px;
    margin-left: 15px;
    margin-top: 2px;
  }
  label:after {
    content: "";
    position: absolute;
    width: 14.41px;
height: 14.38px;
    left: 0px;
    top: -1px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
    margin: 0;
  }

  input:checked + label {
    background: #0d63dc;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-70%);
  }

  .video {
    display: block;
    position: absolute;
    max-width: 247.21px;
    width: 100%;
    left: 92.79px;
    top: 196.27px;
    z-index: 1;
  }
}
