.section1 {

}
.section1 {
    display:block;
    max-width: 1248px;
    width: 100%;
   
}
h1 {
    width: 645px;
height: 184px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 110%;
display: flex;
align-items: center;
color: #212353;
}
.h1_text {
    width: 380px;
height: 120px;
font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
}
.h1_btn {
    width: 170px;
height: 60px;
background: #9C69E2;
border-radius: 50px;
padding: 16px 37px 15px 37px;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
justify-content: center;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.section1_right {
    display: block;
    position: absolute;
    width: 885px;
height: 468px;
background: url(../img/section1.png);
left: 603px;
top: 336px;
}

.section2 {
    padding: 31.82px 93px 24.18px 11px;
    margin-top: 199.18px;
    width: 1117px;
  height: 560px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  }
  .img_section2 {
    width: 477px;
  height: 504px;
  background: url(../img/section2.png);
  }
  .h2_section2 {
    width: 475px;
  height: 100px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  color: #212353;
  margin-top: 125px;
  margin-left: 62px;
  }
  .text_section2 {
    margin-top: 40px;
    width: 474px;
  height: 170px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  margin-left: 62px;

  }
.section3 {
    display: flex;
    justify-content: space-evenly;
   padding: 0 49.56px 15.06px 0;
    max-width: 1136.85px;
    width: 100%;
    flex-wrap: wrap;

}
.head_section3 {
    display: block;
    max-width: 1136.85px;
    width: 100%;
    justify-content: center;
    align-items: center;
text-align: center;
margin-top: 149.82px;
}
  
.h2_section3 {
    width: 405px;
height: 52px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #212353;
}
.top_text_section3 {
    margin-top: 50px;
    width: 584px;
height: 58px;
font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
}
.h3_section3 {
    width: 200px;
height: 50px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 130%;

align-items: center;

color: #212353;
}
.text_section3 {
    width: 220px;
height: 160px;
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: #4B5D68;
}
.divs {
    display: flex;
    justify-content: space-between;
    margin-top: 149px;
}

.section4 {
    width: 1118px;
height: 709px;
background: #9C69E2;
border-radius: 50px;
padding: 190px 76px 58px 93px;
}
.h2_section4 {
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
/* identical to box height, or 52px */

display: flex;
align-items: center;

color: #FFFFFF;
}