.section4 {
  display: block;

  max-width: 1118px;
  width: 100%;
  height: 709px;
  background: #9c69e2;
  border-radius: 50px;
  padding: 109px 76px 58px 93px;
  margin: 0 auto;
  margin-top: 173.94px;
}
.h2_section4 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  color: #ffffff;
}

.slider-custom {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 88px;

  background: #ffffff;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
}
.actions {
  display: flex;
  margin-left: 860px;
}
.slider-child {
  display: flex;
  width: 949px;
  height: 330px;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
}
.img_slider1 {
  display: flex;
  width: 132.42px;
  height: 90px;
  margin-top: 60px;
  margin-left: 102.99px;
}
.data_slider-top {
  display: block;
  margin-top: 20px;
  margin-left: 44.14px;
}
.data_slider1 {
  display: block;
  width: 566.46px;
  height: 130px;
  margin-left: 279.55px;
}
h3.slider1 {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}
.a_slider1 {
  width: 148.6px;
  height: 22px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-decoration: none;
  letter-spacing: 0.01em;
  color: #9c69e2;
}
.p_slider1 {
  width: 566.46px;
  height: 130px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;

  color: #4b5d68;
}
.arrow {
  direction: none;
  background: none;
  border: none;
}
.slick-dots {
  display: flex;
  position: relative;
  top: 303px;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
}
ul.slick-dots {
  width: fit-content;
}
.slider-child {
  display: flex;
}
